<div class="signin-container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text-center mb-4">
    <h3><i class="fas fa-egg"></i></h3>
    <h1 class="h3 mb-3 font-weight-normal">Create a new account</h1>
    <p>Let us streamline the boring stuff so you can focus on your community.</p>
  </div>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%= f.label :email, "Email address" %>
  </div>

  
  <div class="row">
    <div class="col">
      <div class="form-label-group">
        <%= f.text_field :first_name, class: "form-control" %>
        <%= f.label :first_name, "First name" %>
      </div>
    </div>
    <div class="col">
      <div class="form-label-group">
      <%= f.text_field :last_name, class: "form-control" %>
      <%= f.label :last_name, "Last name" %>
      </div>
    </div>
  </div>


  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <%= f.label :password, "Password (#{@minimum_password_length} characters minimum)" %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    <%= f.label :password_confirmation, "Confirm password" %><br />
  </div>

  <div class="action">
    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <div class="mt-5 mb-3 text-muted text-center">
    <%= render "devise/shared/links" %>
  </div>


<% end %>



</div>
