<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
  <div class="text-center mb-4">
    <h3><i class="fas fa-egg"></i></h3>
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
  </div>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%= f.label :email, "Email address" %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    <%= f.label :password, "Password" %>
  </div>

  
  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <div class="mt-5 mb-3 text-muted text-center">
    <%= render "devise/shared/links" %>
  </div>

<% end %>


