<div class="row m-0">
    <div class="col-5 resource-status status-avaliable fixed-top h-100">
        <div class="resource-status-header">
            <h2>Avaliable</h2>
            <h6>For the next 55 minutes</h6>
            <h1 class="text-center"><%= @time_now %></h1>
            <h6 class="text-center"><%= @date_now %></h6>
        </div>
        <div class="fixed-bottom px-4 my-5 pb-4">
            <div class="resorce-status-footer">
                <h2><%= @room.name %></h2>
                <h2><%= @room.number %></h2>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="nav-item">
        <h1><i class="fab fa-pied-piper-square"></i></h1>
      </div>
      <div class="nav-item">
        <ul class="list-inline m-0">
            <li class="list-inline-item mr-4">
                <a href="#" class="">
                    <h1><i class="fas fa-map-marker-alt"></i></h1>
                </a>
            </li>
            <li class="list-inline-item mr-3">
                <a href="#" class="">
                    <h1><i class="fas fa-bars"></i></h1>
                </a>
            </li>
        </ul>
      </div>
    </nav>
</div>

<div class="row">
    <div class="col-6 p-4">
        
    </div>
    <div class="col-6 p-4">
        <%= render 'rooms/room_daily_detail' %>
    </div> 
</div>

</div>